.copyright {
    font-size: 1.5rem;
    font-weight: 300;
    background: var(--color-grey-dark-1);
    padding: 2.5rem 0;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    color: var(--color-primary);
}

